{% extends 'student/studentHome.html' %}
{% load static %}

{##}
{#{% block head %}#}
{#{% endblock %}#}
{% block head %}
    <head>
        <link rel="stylesheet" href="/static/styles/schoolStyles/registerStudent.css"/>
        <link type="text/css" rel="stylesheet" href="{% static 'styles/userList.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
{#    <h1 style="width: 80%">Subject</h1>#}
{% endblock %}

{% block content %}
    <h1>{{ subject.subject_name }}</h1>
    <a class="switch-user-view" href="{% url 'receive' teacher.id  %}"> Send Msg to {{ teacher.username }} </a>
    <div class="table-wrapper">

        <table class="fl-table">
            <thead>
            <tr>


                <th>Zoom meeting</th>


            </tr>
            </thead>
            <tbody>

                {% if subject_class.meeting %}
                    <td><a href="{{subject_class.meeting}}">lesson meeting</a></td>
                {% else %}
                    <td> No meeting</td>
                {% endif %}
            <tbody>
        </table>
    </div>
    <h1> Files </h1>
    <div class="table-wrapper">

        <table class="fl-table">
            <thead>
            <tr>
                <th>File</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>

                {% if files %}
                    {% for file in files %}
                        <tr>
                            <td><a href="{% url 'download' file.id %}">{{ file.name }}</a></td>
{#                            <td><a href="{{ file.file.url }}" download="{{ file.file.url }}">{{ file.name }}</a></td>#}
                            <td> {{ file.description }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td> No Files</td>
                {% endif %}
            <tbody>
        </table>
    </div>


    <h1> Tasks </h1>
    <div class="table-wrapper">

        <table class="fl-table">
            <thead>
            <tr>
                <th>My progress</th>
                <th>Task</th>
                <th>Task description</th>
                <th>Attempt to answer</th>
            </tr>
            </thead>
            <tbody>

                {% if tasks %}
                    {% for task in tasks %}
                        <tr>
                            {% for o in obj %}
                                {% if o.task_id == task.id %}
                                    <td>{{ o.correct_ans }} / {{ o.total_amount_of_exercises }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{ task.name }}</td>
{#                            <td><a href="{{ file.file.url }}" download="{{ file.file.url }}">{{ file.name }}</a></td>#}
                            <td> {{ task.description }}</td>
                            <td><a href="{% url 'ans_task' task.id %}">Try to answer</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td> No Tasks</td>
                {% endif %}
            <tbody>
        </table>
    </div>

{#    <div id="popup1" class="overlay">#}
{#	    <div class="popup-met">#}
{#            <h2>Change meeting</h2>#}
{#		    <a class="close" href="#">&times;</a>#}
{#            <form id="form-id" action="{% url "change_meeting_url" 96 %}" method="POST">#}
{#              {% csrf_token %}#}
{#                <div class="ans">#}
{#                    <input name="met-url" type="text" required>#}
{#                    <label>meeting url</label>#}
{#                </div>#}
{#                <a type="submit" class="save" onclick="document.forms['form-id'].submit();"> Save </a>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{#    <script>#}
{#        var valueIdItem = document.get#}
{#    </script>#}

{% endblock %}