{% extends 'school/schoolHome.html' %}

{% load static %}
{% block title %}

    <head>
{#        <link type="text/css" rel="stylesheet" href="{% static 'styles/userList.css' %}" />#}
        <link type="text/css" rel="stylesheet" href="{% static 'styles/studentStyles/studentScheduleStyle.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <h2 style="text-align: center; font-size: 50px">View Schedule</h2>{% endblock %}

{% block content %}

{#    <div id="teacher" class="table-wrapper">#}
{#        <table>#}
{#            <thead>#}
{#              <tr>#}
{#                <th scope="col" class="top-row" style="text-align: center">Time</th>#}
{#                <th scope="col" class="top-row">Sun</th>#}
{#                <th scope="col" class="top-row">Mon</th>#}
{#                <th scope="col" class="top-row">Tue</th>#}
{#                <th scope="col" class="top-row">Wed</th>#}
{#                <th scope="col" class="top-row">Thu</th>#}
{#                <th scope="col" class="top-row">Fri</th>#}
{#              </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#               {% for t in time %}#}
{#                  <tr>#}
{#                    <th scope="row" class="light-gray">{{ t }}</th>#}
{#                      {% for d in days %}#}
{#                        {%  %}#}
{#                        <td rowspan='1'class="math">Math<br>Teacher 1</td>#}
{#                        <td rowspan='1'class="art">Arts<br>Teacher 5</td>#}
{#                        <td rowspan='1'class="math">Math<br>Teacher 1</td>#}
{#                        <td rowspan='1'class="lab">Science Lab<br>Teacher 1</td>#}
{#                        <td rowspan='1'class="fitness">Fitness & Sport<br>Teacher 7</td>#}
{#                        <td rowspan='1'class="fitness">Fitness & Sport<br>Teacher 7</td>#}
{#                      {% endfor %}#}
{#                  </tr>#}
{#               {% endfor %}#}
{#            </tbody>#}
{#      </table>#}
{#    </br></br></br>#}
{#    </div>#}


        <table>
            <thead>
              <tr>
                <th scope="col" class="top-row" style="text-align: center">Time</th>
                <th scope="col" class="top-row">Sun</th>
                <th scope="col" class="top-row">Mon</th>
                <th scope="col" class="top-row">Tue</th>
                <th scope="col" class="top-row">Wed</th>
                <th scope="col" class="top-row">Thu</th>
{#                <th scope="col" class="top-row">Fri</th>#}
              </tr>
            </thead>
            <tbody>
{#                {% for key,val in obj_dic %}#}
{#                  {% if key == 1 %}#}
{#                        {% if val[datetime.time(8, 0)] != None %}#}
{#                        {% if key == 1 %}#}
{#                        {% endif %}#}
{#                    {% elif key == 2 %}#}
{#                    {% elif key == 3 %}#}
{#                    {% elif key == 4 %}#}
{#                    {% elif key == 5 %}#}
{#                    {% endif %}#}
{##}
{##}
{#                {% endfor %}#}

                {% for time,tval in rev_obj_dic.items %}
                    <tr>
                        {% if time == 8 %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        {% elif time == 9  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 10  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 11  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 12  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 13  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 14  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 15  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% elif time == 16  %}
                            <th scope="row" class="light-gray">{{ time }}:00</th>
                            {% for day,dval in tval.items %}
                                {% for i,j in dval.items %}
                                    {% if i == "subject_name" %}
                                        {% if j != None %}
                                            <td rowspan='1' class="math"> {{ j }}<br>
                                        {% else %}
                                            <td rowspan='1' class="math"> break<br>
                                        {% endif %}
                                    {% elif i == "subject_id" %}
                                        {% if j != None %}
                                            {{ j }} </td>
                                        {% else %}
                                            break </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                    </tr>
                {% endfor %}



{#               {% for t in time %}#}
{#                  <tr>#}
{#                    <th scope="row" class="light-gray">{{ t }}</th>#}
{#                      {% for d in days %}#}
{##}
{#                        <td rowspan='1'class="math">Math<br>Teacher 1</td>#}
{##}
{#                      {% endfor %}#}
{#                  </tr>#}
{#               {% endfor %}#}
            </tbody>
      </table>
    </br></br></br>



{% endblock %}