{% extends 'school/schoolHome.html' %}

{% load static %}
{% block title %}

    <head>
{#        <link type="text/css" rel="stylesheet" href="{% static 'styles/userList.css' %}" />#}
        <link type="text/css" rel="stylesheet" href="{% static 'styles/studentStyles/studentScheduleStyle.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <h2 style="text-align: center; font-size: 50px">View Schedule</h2>{% endblock %}

{% block content %}

{#    <div id="teacher" class="table-wrapper">#}
        <table>
            <thead>
              <tr>
                <th scope="col" class="top-row" style="text-align: center">Time</th>
                <th scope="col" class="top-row">Sun</th>
                <th scope="col" class="top-row">Mon</th>
                <th scope="col" class="top-row">Tue</th>
                <th scope="col" class="top-row">Wed</th>
                <th scope="col" class="top-row">Thu</th>
                <th scope="col" class="top-row">Fri</th>
              </tr>
            </thead>
            <tbody>
               {% for t in time %}
                  <tr>
                    <th scope="row" class="light-gray">{{ t }}</th>
                      {% for d in days %}
{#                        {%  %}#}
                        <td rowspan='1'class="math">Math<br>Teacher 1</td>
{#                        <td rowspan='1'class="art">Arts<br>Teacher 5</td>#}
{#                        <td rowspan='1'class="math">Math<br>Teacher 1</td>#}
{#                        <td rowspan='1'class="lab">Science Lab<br>Teacher 1</td>#}
{#                        <td rowspan='1'class="fitness">Fitness & Sport<br>Teacher 7</td>#}
{#                        <td rowspan='1'class="fitness">Fitness & Sport<br>Teacher 7</td>#}
                      {% endfor %}
                  </tr>
               {% endfor %}
            </tbody>
      </table>
    </br></br></br>
{#    </div>#}
{% endblock %}