{% extends 'school/schoolHome.html' %}

{% load static %}
{% block title %}

    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'styles/userList.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'styles/teacherStyles/exerciseView.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <h2 style="text-align: center; font-size: 50px">View Exercises</h2>{% endblock %}

{% block content %}
    <h3> Click <a href="#popup1" class="btn fa fa-plus"> </a> to add exercise !</h3>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Adding exercise</h2>
		<a class="close" href="#">&times;</a>
{#           <form action="{% url "upload_file" pk %}" method="POST">       form----------------------------------------------------  #}
          <form id="form-id" action="{% url "teacher_add_exercise" 96 %}" method="POST">
              {% csrf_token %}

            <div class="group">
              <input name="question" type="text" required>
              <label>Question</label>
            </div>

            <div class="ans">
              <input name="first_ans" type="text" required>
              <label>First Answer</label>
            </div>

            <div class="ans">
              <input name="second_ans" type="text" required>
              <label>Second Answer</label>
            </div>

            <div class="ans">
              <input name="third_ans_correct" type="text" required>
              <label>Third Answer - Correct</label>
            </div>

            <div class="ans">
              <input name="fourth_ans" type="text" required>
              <label>Fourth Answer</label>
            </div>
              <a type="submit" class="save" onclick="document.forms['form-id'].submit();"> Save </a>
{#              <button class="save" id="save" type="submit" href="{% url 'teacher_add_exercise' 96 %}"> Save </button>#}
          </form>
	</div>
</div>

    <div id="teacher" class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
{#                {% for m in model %}#}
{#                    <tr>#}
{#                        <td> {{m.description}}</td>#}
{#                        <td> {{m.days}}</td>#}
{#                        <td><a class="" href="#"> Download  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>#}
{#                        <td><a class="" href="#"> Delete  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>#}
{#                        #}
{#                        <td><a class="" href="{% url 'view_class' s.id %}"> Remove  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>#}
{#                        <td><a class="" href="{% url 'delete-teacher-from-school' t.id  %}">  <i style="font-size: 25px; color: black" class="fa fa-trash"></i> <span></span></a></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}