{% extends 'school/schoolHome.html' %}

{% load static %}
{% block title %}

    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'styles/userList.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <h2 style="text-align: center; font-size: 50px">Class List</h2>{% endblock %}

{% block content %}

    <div>
        <h1>Main Class</h1>
        <table class="fl-table">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Teacher</th>
                <th>View Class</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for m in model %}
                    <tr>
                        <td> {{m.class_name}}</td>
                        <td> {{m.teacher}}</td>
{#                        <td> View Class</td>#}

{#                        <td><a class="" href="{% url 'view_class' m.id %}">  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>#}
                        <td> View Class</td>
                        <td><a class="" href="#">  <i style="font-size: 25px; color: black" class="fa fa-trash"></i> <span></span></a></td>
{#                        <td><a class="" href="{% url 'delete-teacher-from-school' t.id  %}">  <i style="font-size: 25px; color: black" class="fa fa-trash"></i> <span></span></a></td>#}
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    </br></br></br>
    <div>
        <h1>Subject</h1>
        <table class="fl-table">
            <thead>
            <tr>

                <th>Subject Name</th>
                <th>Duration</th>
                <th>Add Exercise</th>
                <th>Add File</th>
            </tr>
            </thead>
            <tbody>
                {% for m2 in model_2 %}
                    <tr>
                        <td> {{m2.subject_name}}</td>
                        <td> {{m2.duration}}</td>
{#                        <td> {{m2.duration}}</td>#}
                        <td><a href="{% url 'teacher_exercise_view' m2.id %}"><i style="font-size: 25px; color: black" class="fa fa-plus"> </i> </a> </td>
                        <td><a class="" href="{% url 'teacher_file_view' m2.id %}">  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>
{#                        <td><a class="" href="{% url 'teacher_file_view' m2.id %}">  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>#}

{#                        <td><a class="" href="{% url 'delete-teacher-from-school' t.id  %}">  <i style="font-size: 25px; color: black" class="fa fa-trash"></i> <span></span></a></td>#}
                    </tr>
                {% endfor %}
{#                <tr>#}
{#                    <td>check1 </td>#}
{#                    <td>check2 </td>#}
{#                    <td><a href="{% url 'teacher_add_exercise' 0 %}"><i style="font-size: 25px; color: black" class="fa fa-plus"> </i> </a> </td>#}
{#                    <td>check4 </td>#}
{#                </tr>#}
            <tbody>
        </table>
    </div>



{% endblock %}