{% extends 'school/schoolHome.html' %}

{% load static %}
{% block title %}

    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'styles/userList.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <h2 style="text-align: center; font-size: 50px">Class List</h2>{% endblock %}

{% block content %}
    <a class="switch-user-view" href="{% url 'create_class' %}"> Create Class </a>

    <div id="teacher" class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Teacher</th>
                <th>View Class</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for m in model %}
                    <tr>
                        <td> {{m.class_name}}</td>
                        <td> {{m.teacher}}</td>
{#                        <td> View Class</td>#}

                        <td><a class="" href="{% url 'view_class' m.id %}">  <i style="font-size: 25px; color: black" class="fa fa-edit"></i> <span></span></a></td>
                        <td> Delete Class</td>
{#                        <td><a class="" href="{% url 'delete-teacher-from-school' t.id  %}">  <i style="font-size: 25px; color: black" class="fa fa-trash"></i> <span></span></a></td>#}
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}