{% extends 'student/studentHome.html' %}



{% block head %}
{% endblock %}


{#'StudentClassroom': sc,#}
{#        'Classroom': cr,#}
{#        'Teacher': teacher,#}
{#        'ClassSubject': cs,#}
{#        'Subject': sub#}

{% block content %}
{#    {% for obj in StudentClassroom %}#}
{##}
{#    {% endfor %}#}
{#    {% for obj in Classroom %}#}
{##}
{#    {% endfor %}#}
{#    {% for obj in Teacher %}#}
{##}
{#    {% endfor %}#}
{#    {% for obj in ClassSubject %}#}
{##}
{#    {% endfor %}#}
{#    {% for obj in Subject %}#}
{##}
{#    {% endfor %}#}




{% endblock %}