body{

}

.container-main{
    margin: 150px;
    font-size: 25px;
}

.school-container {
    margin-left: 500px;
}

.school-btn-container {
    margin-left: 500px;
}

.page-title {
    text-align: center;
}

* {
  box-sizing: border-box;
}

table{
    width: 100%;
}
th{
    width: 30%;
}