{% include  "navbase.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'styles/home.css' %}" rel="stylesheet">
    <title>StudyBuddy</title>

</head>
<body>

    <div class="container-main" >

        <div class="xpl-txt"> <p> there going to be some explanation about the school. </p> </div>

    </div>

    <div class="news" >
        {% if news %}
            {% for article in news %}
                {{ article.title }}
                {{ article.body }}
                {{ article.date }}
            {% endfor %}
        {% else %}
            <h1>No Records</h1>
        {% endif %}


    </div>

</body>
</html>
