{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link id="myStyleSheet" type="text/css" href="{% static 'styles/navBase.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<nav>
    <ul>
        {% if user.is_authenticated %}
            <li class="current-user"><p><b class="welcome">Welcome: </b><b>{{user.username|title}}</b></p></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'schoolHome' %}" class="home-btn">Home</a></li>
            {% else %}
                {% if user.is_staff %}
                    <li><a href="{% url 'teacherHome' %}" class="home-btn">Home</a></li>
                {% else %}
                    <li><a href="{% url 'studentHome' %}" class="home-btn">Home</a></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li><a href="{% url 'home' %}" class="home-btn">Home</a></li>
        {% endif %}

        {% if user.is_superuser %}
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Register</a>
                <div class="dropdown-content">
                    <a type="submit" href="{% url 'register_teacher' %}">Teacher</a>
                    <a type="submit" href="{% url 'register_student' %}">Student</a>
                </div>
            </li>
            <li><a href="#" class="home-btn">User Details</a></li>
            <li><a href="#" class="home-btn">Students Progress</a></li>
            <li><a href="#" class="home-btn">Schedule</a></li>
            <li><a href="#" class="home-btn">Subject</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Messages</a>
                <div class="dropdown-content">
                    <a type="submit" href="#">View User Messages</a>
                    <a type="submit" href="#">Send System Message</a>
                </div>
            </li>
            <li><a href="#" class="home-btn">Documents</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Themes</a>
                <div class="dropdown-content">
                    <a type="submit" onclick="swapStyle('dark')">Dark Mode</a>
                    <a type="submit" onclick="swapStyle('light')">Light Mode</a>
                </div>
            </li>

        {% endif %}
        {% if not user.is_authenticated %}
            <div class="login-logout-btn-container">
                <li> <a type="submit" class="login-btn" href="{% url 'login' %}">Login</a> </li>
            </div>
        {% else %}
            <div class="login-logout-btn-container">
                <li>  <a type="submit" class="logout-btn" href="{% url 'logout' %}">Logout</a> </li>
            </div>
        {% endif %}
    </ul>
</nav>


<!--scripts -->\
<script type="text/javascript">

    var setTheme = localStorage.getItem('theme')

    if(setTheme == null)
        swapStyle('light')
    else
        swapStyle(setTheme)

    function swapStyle(sheet){
        console.log(sheet)
        if(sheet === 'light'){
            document.getElementById('myStyleSheet').href = "{% static 'styles/navBase.css' %}"
            localStorage.setItem('theme', 'light')
        }
        if(sheet === 'dark'){
            document.getElementById('myStyleSheet').href = "{% static 'styles/darkStyles/navBase.css' %}"
            localStorage.setItem('theme', 'dark')
        }

    }
</script>
</body>
</html>
