{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'styles/navbase.css' %}" rel="stylesheet">
    <title>StudyBuddy</title>
</head>
<body>
    <nav>
        <div id="left">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="{% url 'schoolHome' %}" class="logo"><img src="{%  static '/image/logo.png' %}"  style="width:10%"></a>
                {% else %}
                    {% if user.is_staff %}
                        <a href="{% url 'teacherHome' %}" class="logo"><img src="{%  static '/image/logo.png' %}"  style="width:10%"></a>
                    {% else %}
                        <a href="{% url 'studentHome' %}" class="logo"><img src="{%  static '/image/logo.png' %}"  style="width:10%"></a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{% url 'home' %}" class="logo"><img src="{%  static '/image/logo.png' %}"  style="width:10%"></a>
            {% endif %}

            <p><b>{{user.username|title}}</b></p>
        </div>
        <ul class="menu">
                {% if user.is_superuser %}
                    <li><a type="submit" href="{% url 'register_teacher' %}">Register Teacher</a> </li>
                    <li><a type="submit" href="{% url 'register_student' %}">Register Student</a> </li>
                {% endif %}
                {% if not user.is_authenticated %}
                   <li> <a type="submit" href="{% url 'login' %}">Login</a> </li>
                {% else %}
                  <li>  <a type="submit" href="{% url 'logout' %}">Logout</a> </li>
                {% endif %}
        </ul>
    </nav>
</body>
</html>