body {
    background-color: wheat;
    background-size: cover;
    padding: 0px;
    font-family: poppins;
    height: 100%;
    width: 100%;
    margin-top: 90px;
}

.container-main{
}

.container-main .xpl-txt{
    margin: 150px;
    font-size: 25px;
}
