body {
    background-color: wheat;
    background-size: cover;
    /*margin: 0px;*/
    padding: 0px;
    font-family: poppins;
    height: 100%;
    width: 100%;
    /*margin: 90px;*/
    margin-top: 90px;
    /*margin-left: 0px;*/
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0, 0, 0, 0.04);
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

nav .menu {
    /*align-items: center;*/
    display: flex;
}
nav .menu li a{
    /*display: inline;*/
    height: 40px;
    line-height: 45px;

    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #98732e;
    letter-spacing: 1px;
    display: block;
    float: left;
    white-space: pre;
}




/*li {*/
/*  display: inline;*/
/*    color: red;*/
/*}*/

nav .menu p{
    margin-right: 500px;
    color: wheat;
    float: right;
}



nav .logo{
    margin-left: 180px;
}

nav .container{
    /*float: left;*/
    /*margin-left: -40px;*/
    margin-right: 180px;
}

/*#main {*/
/*    padding-top: 80px;*/
/*    height: 100%;*/
/*    background-color: green;*/
/*}*/

.temp{
    width: 100%;

}

#left-bar{
    /*margin-right: 0px;*/
    width:20%;
    display: inline-block;

}
#main{

    color: #314d92;
    width:60%;
    display: inline-block;
}
#right-bar{
    /*margin-right: 0px;*/
    display: inline-block;
    width:19%;
    color: red;

}