{% include 'navbase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'styles/schoolStyles/schoolHome.css' %}" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <div class="container-main" style="margin-top: 0px;">
        {% block title %}<h1 class="page-title">this is admin page hello you!</h1>{% endblock %}
        <br><br><br><br>

        {% block content %}
        {% endblock %}

    <section id="element-list" style="margin-top: 200px">
        <div class="contact-details">
            <p> email: StudyBuddy@buddy.com </p>
            <p> phone: 08-0808085 </p>
            <p> address: beer-sheva </p>
        </div>
    </section>
    </div>
</body>
</html>