{% include 'navbase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'styles/schoolStyles/schoolHome.css' %}" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <div class="container-main">
        {% block title %}<h1>this is admin page hello you!</h1>{% endblock %}
        <br><br><br><br>



        {% block content %}
            <a href="{% url 'school_news' %}" class="home-btn">News</a>
        {% endblock %}
    </div>
</body>
</html>