{% include 'navbase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'styles/schoolStyles/schoolHome.css' %}" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <div class="container-main">

        {% block content %}
            <div class="school-container">
                <h1> Technical Support </h1>
                <br>
                <br>
                <p>
                    <b><u>Contact us</u>:</b>
                    <br>
                    <br>
                    <b>phone:</b> +49 564 4522
                    <br>
                    <b>email:</b> StudyBuddy@TechSupport.com
                </p>
            </div>
        {% endblock %}
    </div>
</body>
</html>