{% extends 'school/schoolHome.html' %}
{% load static %}
{% block title %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <h2 style="text-align: center; font-size: 50px">Update teacher</h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/schoolStyles/registerStudent.css"/>
{% endblock %}


{% block content %}
<body>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form action="" method="POST">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-child-first">
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{form.username}}
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{form.email}}
                        </div>
                    </div>
                </div>
                <div class="grid-child-second">
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{form.password1}}
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{form.password2}}
                        </div>
                    </div>
                </div>
                <div class="grid-child-third">
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{form.last_name}}
                        </div>
                    </div>
                </div>
                <div class="grid-child-forth">
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{extra_form.phone}}
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="agile-field-txt">
                            {{extra_form.subjects}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3ls-bot">
                <div class="form-end">
                    <button class="button" style="vertical-align:middle" type="submit"><span>Submit</span></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock %}